<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
    <h1>備忘録</h1>
   <div id="todo-table">

       <form action="">
           <input type="text" name="item" placeholder="アイテムを追加" required>
           <button type="submit">アイテムを追加</button>
       </form>
       <ul>
        <% for(var i=0; i < todos.length; i++){ %>
           <li><%= todos[i].item %></li>
       <% } %>
        </ul>
   </div> 
</body>
</html>